.home-container {
  width: 100%;
  height: 100vh;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.home-card {
  width: 350px;
  background: #ffffff;
  padding: 32px;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  text-align: center;
}

.home-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.btn {
  width: 100%;
  padding: 12px;
  background: #3a3a3a;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
}

.btn:hover {
  background: #000;
}

.sair {
  background: #b33939;
}

.sair:hover {
  background: #922626;
}
